body {	
  font-family: "times new roman", sans-serif;   
  margin: 0;
  padding: 0;   
}

/*html {
   box-sizing: border-box;
}

*, *:after, *:before{
   box-sizing: inherit;
}
*/
div {
   box-sizing: border-box;    
}

.header {
   background: url("img/ippel.jpg")no-repeat center top /cover;   
   min-height: 643px;
   padding: 50px 0px;
}

.container {
   margin: 0 auto; 
   width: 100%;             
}

.header__logo {  
   padding: 0px;    
 }

.header__logo img {  
   width: 80px;   
   margin: -10px 0px 0px 30px;  
}

.header__item {
   display: flex;
   justify-content: space-around; 
   align-items: center;
   flex-wrap: wrap;
}

.menu {
   margin-top: -48px;
   margin-left: -65px;  
}

.menu li {
   display: inline-block;
   padding-left: 60px;
   list-style: none;  
}

.menu a {
   font-family: "oswald";
   font-size: 20px;
   line-height: 26px;   
   color: #fff; 
   text-decoration: none;
   letter-spacing: 1px; 
   transition: linear 0.30s;
   font-weight: normal; 
}

.menu a:hover {
   color: #1c7e8f;
   border-bottom: 1px solid #1c7e8f;   
}

.sport a {
   color: #1c7e8f;
}

.header__icon {   
   display: flex;
   justify-content: flex-end;   
   margin: -39px 75px;   
}    

.header__icon a {
   margin: -10px 5px;
   color: #fff;
   border: 1px solid #af9de5;
   padding: 10px 10px 10px 10px;
   border-radius: 50%; 
}

.header__icon a:nth-child(2){ 
   padding: 10px 6px 6px;   
}

.header__icon a:nth-child(3){
   padding: 10px 5px 5px;  
} 

.gorizont__liner:before {
   content: "";
   border: 1px solid #af9de5;
   display: block; 
   margin: 73px 0;   
}

.about {
   background: url("img/about.jpg")no-repeat left /cover;
   min-height: 430px;
   max-width: 500px;
   padding: 20px 90px;
   width: 100%;    
}

.about__title {    
    text-align: right;
    width: 937px;        
}

.about__title h1 {
   padding: 35px 0px;    
   color: #3f3f3f;
   margin: 10px -18px;
   font-weight: 400;
   font-size: 30px;
   line-height: 20px;   
   letter-spacing: 0.05em; 
   text-transform: uppercase; 
   font-family: "times new roman", sans-serif;
}

.slider__inner {
   position: relative;  
   bottom: 30px;
   border: 1px solid #6e6e6e;
   width: 392px; 
   left: 538px; 
   margin-left: auto;  
}

.slider__inner:before {
   content: ""; 
   display: block; 
   width: 65px;
   border: 1px solid #424242;
   position: absolute;
   left: 0;
   top: -2px;
   z-index: 1; 
}

.about__tezis {
   display: grid; 
   justify-content: end;
   width: 940px;   
}

.about__tex {  
   cursor: pointer; 
   margin-right: -115px;
}

.about__tex p {
   padding: 10px 0px;		
   font-size: 15px;
   line-height: 15px;
   color: #000000;
   letter-spacing: 0.10px; 
   font-weight: 700px;
   margin-top: -12px;  
   width: 408px; 
   font-family: "bell mt";
 }


.about__btn {
   display: grid;
   justify-content: end;
   margin: 30px 40px;	
   width: 790px;   
}

.about__btn a {
   background-color: #05a0af;     
   font-size: 12px;
   line-height: 20px; 
   font-weight: 400px;  
   color: azure;
   text-decoration: none;
   width: 163px;
   height: 22px;
   display: inline-block;
   text-align: center;
   padding: 5px 10px;
   border-radius: 2px;
   letter-spacing: 0.10em;       
}

.about__btn:hover {
   opacity: 0.80;
   transition: linear 0.10s; 
}

#modal {
   display: none;
}

.servises {
   background-color: #373737;
   min-height: 137px;     
}

.servises__our {  
   display: flex;
   justify-content: center;
   width: 100%; 
}

.servises__our h1 {
   padding: 35px 0px;		
   color: #f7f7f7;
   font-weight: 500;
   font-size: 43px;
   line-height: 26px;   
   letter-spacing: 0.05em; 
   text-transform: uppercase; 
   font-family: "times new roman",sans-serif; 	
}

.servises__left {
   border: 1px solid #959595;
   width: 350px;
   position: relative;
   bottom: 70px;
   left: 140px; 
}

.servises__left:before {
   content: ""; 
   display: block; 
   width: 78px;
   border: 2px solid #fff;
   position: absolute;
   right: 0;
   top: -2px;
   z-index: 1; 
}

.servises__right {
   border: 1px solid #959595; 
   position: relative;
   width: 350px;
   bottom: 73px;
   margin-left: auto;
   right: 150px;   
}

.servises__right:after {
   content: ""; 
   display: block; 
   width: 78px;
   border: 2px solid #fff;
   position: absolute;
   left: 0;
   top: -2px;
   z-index: 1; 
}

.detalis {
   background-color: #3d3d3d;
   max-height: 555px;
   margin: 0 auto;  
} 

.detalis__box {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;  
}

.detalis__server { 
   margin: 0px -75px;  
}

.detalis__server:nth-child(2) {	
   width: 370px;
   height: 555px;
   text-align: center;
   background-color: #097e89;  
}

.detalis__server img {
   margin: 120px 90px;
}

.detalis__server h1  {
   margin-top: -65px;
   color: #edf0f1;
   font-size: 24px;
   line-height: 26px;
   letter-spacing: 0.70px;
   text-transform: uppercase;
   font-weight: 100px; 
   text-align: center; 
}

.detalis__server p  {
   margin-top: 15px;	
   color: #edf0f1;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.50px; 
   font-weight: 400px;  
   text-align: center; 
   width: 290px;
   margin: 0 auto;    
}

.detalis__btn {
   margin-top: 25px;
}
  
.detalis__btn a {   
   background-color: #959595;  
   display: block;
   margin: 0 auto; 
   text-align: center; 
   width: 140px;
   height: 20px;
   border-radius: 2px;
   letter-spacing: 0.01em;
   padding: 7px 10px;
   color: #ebebeb;
   text-decoration: none; 
   font-weight: 900px;
   font-size: 14px;
   line-height: 20px;   
   font-family: "times new roman",sans-serif;   
}

.detalis__btn:hover {
   opacity: 0.5;
   transition: linear 0.10s; 
}

.invisions__pro {
   display: flex;
   justify-content: flex-end;
   flex-wrap: wrap; 
   width: 100%;
}

.invisions__left  {
   position: relative;
   width: 35px;
   height: 35px; 
   bottom: 35px; 
   right: 2px;
   background-color: #097e89;
}

.invisions__left a {
   position: absolute; 
   top: 0px;
   left: 10px;	
   color: #373636; 
   font-size: 35px;    
}

.invisions__right  {
   position: relative;
   width: 35px;
   height: 35px; 
   bottom: 35px; 
   left: 0px;
   background-color: #097e89;	
}

.invisions__right a {
   position: absolute;
   top: 0px;
   left: 8px;
   color: #373636; 
   font-size: 35px;
}

.Feedback {
   background-color: #373737;
   min-height: 137px;   
}

.Feedback__home {    
   width: 100%;
   display: flex;
   justify-content: center;  
}

.Feedback__home h1 {  
   padding: 35px 0px;		
   color: #f7f7f7;
   font-weight: 500;
   font-size: 43px;
   line-height: 26px;   
   letter-spacing: 0.05em; 
   text-transform: uppercase; 
   font-family: "times new roman",sans-serif;   	
}

.Feedback__left {
   border: 1px solid #959595;
   width: 350px;
   position: relative;
   bottom: 70px;
   left: 145px;
}

.Feedback__left:before {
   content: ""; 
   display: block; 
   width: 78px;
   border: 2px solid #fff;
   position: absolute;
   right: 0;
   top: -2px;
   z-index: 1;   
}

.Feedback__right {
   border: 1px solid #959595; 
   position: relative;
   width: 350px;
   bottom: 73px;
   margin-left: auto;
   margin-right: 150px;
}

.Feedback__right:after {
   content: ""; 
   display: block; 
   width: 78px;
   border: 2px solid #fff;
   position: absolute;
   left: 0;
   top: -2px;
   z-index: 1; 
}

.contakt {
   background-color:#3d3d3d;
   min-height: 280px;   
   padding: 20px 0px 0px 30px;     
}

.contakt__tex { 
    text-align: center;         
}

.contakt__tex p {   
   width: 240px;
   font-size: 20px;
   line-height: 26px;
   color: #a29e9e;
   font-weight: 700;
   position: relative; 
   top: 30px;
   left: 50px;
}

.contakt__line {
   position: relative;
   top: 40px;
   display: block;
   margin-left: 130px;
   width: 65px;
   border: 1px solid #a29e9e;   
}

.contakt__nomer {
   margin-left: 150px;     
 }

b {
   position: relative; 
   top: 65px;
   color: #a29e9e;
   font-size: 16px;
   font-weight: 700;  
}

.contakt__left {   
   position:relative;
   top: 40px;   
}

.contakt__left a {
   position: absolute;
   color: #a29e9e;
   font-size: 33px; 
   left: 50px;
}

.contakt__right {
   position: relative;
   top: 40px;   
}

.contakt__right a {
   position: absolute;
   color: #a29e9e;
   font-size: 33px;
   left: 265px;  
}

.portfolio {
   display: flex;
   justify-content: flex-end; 
   flex-wrap: wrap;  
   width: 100%;       
}

.portfolio__inter-101 {
   position: relative;   
   margin-top: -140px;
   cursor: pointer;
   transition: 0.30s linear; 
   margin-right: 30px; 
}

.portfolio__inter-101 img {    
   width: 100%;         
}

.portfolio__inter-101:nth-child(1) {    
   margin-right: 0px;
   width: 275px;
}

.portfolio__inter-101:nth-child(2) {    
   margin-left: -30px;
   width: 300px;   
}

.portfolio__inter-101:nth-child(3) {   
   margin-left: -35px;
   top: 5px; 
   width: 235px; 
}

.portfolio__inter-101:hover {
   transform: scale(1.05) translatey(6.5px);       
}

span {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #272727;
   font-size: 12px;
   position: absolute;
   z-index: 1;
   background-color: #fff; 
   top: 220px;
   left: 30px;
   padding: 10px 22px;
   width: 25px;   
}

span:hover {
   opacity: 0.70;
   transition: 0.30s linear; 
}

.portfolio__inter-101 span {
   padding-left: 10px; 
   padding-right: 12px;
}

.wrrap-1 {
   margin-left: 0px;   
}

.wrrap-2 {
   margin-left: 15px;   
}

.wrrap-3 {
   margin-left: -20px;
   margin-top: -5px;
}
   
.wrrap__wrrap-1 {
   margin-left: 53px;
   padding: 10px 35px;
   width: 108px;
   text-align: left;
   height: 15px;
   font-size: 12px;
}

.wrrap__wrrap-2 {
   margin-left: 68px;
   padding: 10px 35px;
   width: 108px;
   text-align: left;
   height: 15px;
   font-size: 12px;   
}

.wrrap__wrrap-3 {
   margin-left: 33px;
   padding: 10px 35px;
   width: 108px;
   text-align: left;
   height: 15px;
   font-size: 12px;
   margin-top: -5px;   
}
    
.clients {
   background-color:#fff;
   min-height: 530px;
   margin: 0 auto;   
}
  
.clients__visions {
  display: grid;   
  text-align: center;
}

.clients__visions h1 {  
   padding: 50px 0px;      
   color: #656464;
   font-weight: 500;
   font-size: 43px;
   line-height: 26px;   
   letter-spacing: 0.05em; 
   text-transform: uppercase; 
   font-family: "times new roman",sans-serif;   
} 

.clients__left {
   border: 1px solid #959595;
   width: 350px;
   position: relative;
   bottom: 80px;
   left: 170px;   
}

.clients__left:before {
   content: ""; 
   display: block; 
   width: 78px;
   border: 2px solid #656464;
   position: absolute;
   right: 0;
   top: -2px;
   z-index: 1;   
}

.clients__right {
   border: 1px solid #959595; 
   position: relative;
   width: 350px;
   bottom: 83px;
   right: 170px;  
   margin-left: auto;
}

.clients__right:after {
   content: ""; 
   display: block; 
   width: 78px;
   border: 2px solid #656464;
   position: absolute;
   left: 0;
   top: -2px;
   z-index: 1; 
}

.clients__center {  
   display: grid;
   grid-template-columns: 1fr 0fr;  
   width: 100%;
   padding: 30px 0px;         
}

.clients__chevron-left {     
    position: relative;
    width: 35px;
    height: 35px;
    left: 0px;
    top: 80px;
    background-color: #3d9ee1;     
}

.clients__chevron-left a {    
    position: absolute;
    color: #373637;
    left: 8px;
    top: 0px;
    font-size: 32px;
}

.clients__chevron-right {
    position: relative;
    width: 35px;
    height: 35px;
    right: 0px;  
    top: 80px;
    background-color: #3d9ee1;    
}  

.clients__chevron-right a {   
    position: absolute;
    color: #373637;
    right: 8px;
    top: 0px; 
    font-size: 32px;
 } 

.clients__icons {    
    display: grid;
    grid-row-gap: 90px;    
}

.clients__icon {     
   display: grid;
   grid-template-columns: repeat(4,auto);  
   width: 100%;   
}

.clients__icon img {    
    margin-left: 90px;
    margin-top: -40px;
    padding-bottom: 70px;
 }

.quote {
   background-color: #097e89;
   min-height: 171px;    
}

.quote__exspress {  
   margin-left: 70px;        
}

.quote__exspress h1 {
    padding-top: 30px;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    line-height: 25px;
    font-family: "agency fb";       
 }

.quote__exspress p {         
   margin-top: 30px; 
   width: 320px;
   color: #ccdee0;
   font-size: 12px;
   line-height: 20px;
   font-weight: 500; 
   font-family: "agency fb";    
}

.quote__bridges {
   display: flex;
   justify-content: flex-end; 
   /*width: 90%;*/
   margin-right: 85px;
   padding-bottom: 65px;  
}

.quote__bridges p {
   border: 2px solid #589ba3;   
   color: #ccdee0;  
   font-size: 10px;
   line-height: 20px;  
   display: flex;
   align-items: center;
   padding-left: 25px;  
   margin-top: -65px;    
}

.quote__bridges p:first-child{
   width: 204px;
   height: 45px;
   border-bottom-left-radius: 3px;
   border-top-left-radius: 3px;    
   border-right: 0px solid #589ba3;
}

.quote__bridges p:nth-child(2){
   width: 200px;
   height: 45px;
   border-radius: 0px;
   border: 2px solid #589ba3;
   border-right: 0px solid #589ba3;   
}

.quote__bridges p:nth-child(3){
   width: 90px;
   height: 45px;
   font-size: 12px;
   font-weight: 700;
   color: #47939c;
   background-color: #fff; 
   border-bottom-right-radius: 3px;
   border-top-right-radius: 3px;
   border-color: #fff;   
}

.footer {
   background-color: #474747;
   min-height: 207px;
   padding: 10px 0px 10px 0px;
}

.plans__contakt { 
   display: flex;
   margin-left: 30px;
   width: 90%;   
}

.plans__dellet {   
    position: relative;      
}

.plans__dellet:before {
   content: "";
   display: block;
   position: absolute;
   width: 33px;   
   border: 1px solid #fff;
   z-index: 1;  
   top: 25px; 
}

.plans__dellet li {
   list-style: none;
   color: #fff;
   font-size: 14px;
   line-height: 32px;
   cursor: pointer;  
   margin-right: 30px;       
}

.dellet__first {
    font-family: "orthodox.tt ieucs8";
    font-size: 15px;   
}

.plans__dellet li:hover {
   color: #407699;
}

.plans {
   display: flex;
   justify-content: flex-end;
   margin-top: -150px;   
   margin-right: 85px;
}

.plans__email {  
   width: 165px;
   height: 45px;
   padding: 10px 0px 0px 15px;
   background-color: #cccccc;
   transition: .1s linear;      
}

.plans__email a {
   color: #4f4e4e;
   font-size: 15px;
   line-height: 24px;
   text-decoration: none;  
}

.plans__email:hover {
   opacity: 0.70; 
}

.plans__Subscribe {
   width: 105px;
   height: 45px;
   padding: 10px 0px 0px 25px;
   background-color: #0072bc;    
   border: 1px solid #cccccc;
   transition: .1s linear; 
}

.plans__Subscribe a {
   color: #fff;
   font-size: 17px;
   line-height: 24px;
   text-decoration: none;   
}

.plans__Subscribe:hover {  
    opacity: 0.70;
}

.social__google {
   display: flex;
   justify-content: flex-end;
   margin-top: 40px;
   margin-right: 85px;   
}

.social__google a {
   font-size: 18px;
   color: #c1c1c1;
   margin-left: 10px;
   font-weight: normal;
   background-color: #2e2e2e;
   padding: 10px; 
   border-radius: 50%;  
}

.social__google a:first-child {
   padding: 10px 12px 10px 12px;
}

.social__google a:nth-child(3) {
   padding: 10px 8px 10px 8px;
}
